# For VSCode install the extension: https://marketplace.visualstudio.com/items?itemName=EditorConfig.EditorConfig
# top-most EditorConfig file
root = true

# Config for all files
[*]
insert_final_newline = true

# Config for JavaScript files and CSS
[*.{js,jsx,css,scss,sass}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# Config for Python (uncomment what you need)
[*.py]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
