iframe {
  width: 100%;
  height: 100%;
  border: none;
}

html, body, .main-layout {
  width: 100%;
  height: 100%;
}

.backend .container {
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
