
.toc {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    padding-bottom: 30px;
    color: #eee;
    background-color: #222;

    div.container, h1, h2, h3, p, a {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    a:hover {
        color: #007053;
        text-decoration: underline;
    }

    a {
        color: #00bc8c;
        text-decoration: none;
        background-color: transparent;
    }
}

.toc-header {
    position: relative;
    padding: 40px 0 50px 0;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    text-shadow: 0 1px 0;
    background-color: #333333;
    text-align: left;

    h1 {
        margin-top: 0;
        color: #fff;
        margin-bottom: 10px;
        font-size: 60px;
        line-height: 1;
        font-weight: 500;
    }

    p {
        margin: 0;
        line-height: 1.4;
        font-size: 20px;
        padding-right: 200px;
    }
}

.toc-container {
    h1 {
        padding-top: 20px;
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 36px;
        font-weight: 500;
        line-height: 1.1;
    }

    h2 {
        font-size: 27px;
        margin-top: 20px;
        margin-bottom: 10px;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
    }

    #toc-toc {
        padding-bottom: 9px;
        margin: 40px 0 20px;
        border-bottom: 1px solid #eee;
    }

    ol.toc-ol {
        list-style: none;
        padding-left: 0;

        a {
            line-height: 1.6;
            font-size: 18px;
        }
    }
}

.backend .container {
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
