{% extends "base.html" %}
{% load static %}

{% block base_body %}
  <div class="container">

    <img src="{% static 'logo/banner.png' %}" width="100%" style="margin: 3em 0">

    <div style="margin: auto; width: 70%; font-size: 32pt">
      <ul style="list-style: none">
        <li><i class="fa fa-chevron-right" aria-hidden="true"></i> Learn coding interactively</li>
        <li><i class="fa fa-chevron-right" aria-hidden="true"></i> Free and Open Source</li>
        <li><i class="fa fa-chevron-right" aria-hidden="true"></i> Designed with care for beginners</li>
      </ul>
    </div>

    <div style="margin: 3em auto; width: 70%; ">
      <a class="btn btn-lg btn-outline-light"
         style="font-size: 72pt; border-radius: 20px"
         href="/toc/"
      >
        Start now
      </a>
    </div>

    <p>
      This site is currently only ready for demonstration, not large scale usage.
      So don't start sharing it with everyone who wants to learn to code.
      It's hosted on free, minimal infrastructure that can't handle a lot of load.
    </p>

    <p>
      If you'd like to be updated when the site is ready, enter your email below:
    </p>

    {% load crispy_forms_tags %}

        <form method="post">
            {% crispy form %}
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
        
        {% include "messages.html" %}

        <p style="margin-top: 2em">
            But please share this with people who are interested in providing free education
            and contributing to open source software!
            Learn more about the project in the
            <a href="https://github.com/alexmojaki/futurecoder">GitHub code repository</a>.
        </p>
    </div>
{% endblock %}
