{% extends "base.html" %}

{% block base_body %}
    <div class="container">
        <h1>Welcome to <code>futurecoder</code>!</h1>

        <p>
            This is a free open source platform/course for complete beginners to teach themselves programming,
            specifically in Python.
        </p>

        <p>
            This site is currently only ready for demonstration, not large scale usage.
            So don't start sharing it with everyone who wants to learn to code.
            It's hosted on free, minimal infrastructure that can't handle a lot of load.
        </p>

        <p>
            If you'd like to be updated when the site is ready, enter your email below:
        </p>

        {% load crispy_forms_tags %}

        <form method="post">
            {% crispy form %}
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
        
        {% include "messages.html" %}

        <p style="margin-top: 2em">
            But please share this with people who are interested in providing free education
            and contributing to open source software!
            Learn more about the project in the
            <a href="https://github.com/alexmojaki/futurecoder">GitHub code repository</a>.
        </p>

        <h3><a href="/toc/">Go to the course</a></h3>
    </div>
{% endblock %}
