{% extends "base.html" %}
{% load sass_tags %}

{% block extra_head %}
        <link rel="stylesheet" href="{% sass_src 'css/toc.scss' %}"/>
{% endblock %}

{% block base_body %}
    <body class="backend bg-dark">
        <div class="toc">
            <div class="toc-header">
                <div class="container">
                    <h1>futurecoder</h1>
                    <p>
                        Below are links to different pages in the course.
                        You can start anywhere and go in any order,
                        and your progress on each page will be recorded. <br />
                        If you're completely new to programming, or you have doubts,
                        just start at the beginning and click Next as you finish each page.
                    </p>
                </div>
            </div>

            <div class="container toc-container">
                <div class="row">
                    <div class="col-md-9" role="main">
                        <div class="toc-section">
                            {% if user.page.index_prop %}
                            <p><strong>You were last on the page
                                <a href="/course/">
                                    {{ user.page.title_prop|safe }}
                                </a>.
                            </strong></p>
                            {% endif %}
                            <h1 id="toc-toc">
                                Table of Contents
                            </h1>
                            <ol class="toc-ol">
                                {% for chapter in chapters %}
                                <li>
                                    <h2>{{ chapter.0 }}</h2>
                                    <ol>
                                        {% for page in chapter.2 %}
                                        <li>
                                            <a href="/course/?page={{ page.slug_prop }}">
                                                {{ page.title_prop|safe }}
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ol>
                                </li>

                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}
