{% extends "base.html" %}

{% block base_body %}
    <div class="container">
        <h1>Table of Contents</h1>
        <ol>
            {% for chapter in chapters %}
                <li><b>{{ chapter.0 }}</b></li>
                <ol>
                    {% for page in chapter.2 %}
                        <li>
                            <a
                                    {% if user.page.index_prop >= page.index_prop %}
                                        href="/course/?page={{ page.index_prop }}"
                                    {% endif %}
                            >{{ page.title_prop|safe }}</a>
                        </li>
                    {% endfor %}
                </ol>
            {% endfor %}
        </ol>

    </div>
{% endblock %}
