.home-page {
  .alert.alert-success {
    color: #155724;
    background-color: #d4edda;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid #c3e6cb;
    border-radius: .25rem;
  }
}

.badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .badge {
    border-radius: 10px;
    border: 1px solid grey;
    width: 288px;
    padding: 5px;
    margin-right: 1em;
    margin-bottom: 1em;

    .center-text {
      font-size: larger;
      margin-bottom: 0.6em;
      color: white;
    }

    .flex {
      display: flex;
      justify-content: space-around;
    }

    a {
      text-decoration: none;
    }

    strong {
      color: white;
    }

    .testimonial {
      font-style: italic;
    }
  }
}
