.feature{
  margin-bottom: 30px;

  .feature-image {
    flex: 1;
    min-width: 250px;
    z-index: 2;  // above text when fading in

    img {
      max-height: 300px;
    }
  }

  .feature-text {
    flex: 1;
    min-width: 150px;
    margin: 30px;

    .feature-header {
      padding: 0 30px;

      * {
        display: inline-block;
      }

      .feature-line {
        position: fixed;
        right: -30px;
        margin-top: 56px;
        height: 4px;
        background: white;
        width: 50px;
      }
    }

  }
}



.feature-text:nth-of-type(2n + 1){
  text-align: right !important;

}

.feature:nth-of-type(2n + 1) .feature-line {
  left: -30px !important;
}

.feature-image:nth-of-type(2n + 1) {
  text-align: -webkit-right;
}
