.hero {
  padding-top: 48px;
}

.hero-title{
  font-size: 70px;
}

.hero-paragraph {
  color: hsl(263,45%,7%);
  background: #ddd;
  width: fit-content;
  padding: 0 11px;
}

.hero-illustration {
  display: none;
  position: relative;
}

#hero-image {
  position: absolute;
  transform-origin: 50% 50%;
  padding: 70px;
  width: 45vw;
  max-width: 380px;
}

@include media('>medium') {
  .hero-inner {
    /* Split hero in two parts */
    display: flex;
  }

  .hero-illustration {
    display: block;
    width: 340px;
  }
}

@include media('<=medium') {
  .hero-form {
    margin: 0 auto;
  }
}
