.is-boxed {
  background: lighten(color(bg, 1), 4%);
}

.body-wrap {
  background: color(bg, 1);
  // overflow: hidden;
  /* Sticky footer */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.boxed-container {
  max-width: 1440px;
  margin: 0 auto;
  @include shadow;
}

main {
  flex: 1 0 auto;
}

.section-inner {
  position: relative; /* To always display inner elements above pseudo decorative stuff */
  padding-top: 64px;
  padding-bottom: 64px;
}

@include media('>medium') {
  .section-inner {
    padding-top: 88px;
    padding-bottom: 88px;
  }
}

@include media('>medium') {
  .half-col {
    position: relative;
    display: inline-block;
    padding-right: 48px;
    min-width: 512px;
    width: 512px;
  }
}


//    ABOUT

#about-logo {
  width: 200px;
  max-width: 30vw;
  position: absolute;
  top: -350px;
  right: 40px;
}

.tech-stack-icon {
  width: 48px;
  margin: 10px;
  display: inline-block;
  filter: grayscale(1) brightness(2);
}