name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12.1'
    - name: Set up Node
      uses: actions/setup-node@v4
      with:
        node-version: '22.17.0'
    - name: Install chromedriver
      uses: nanasess/setup-chromedriver@master
    - name: Install Python and JS dependencies
      run: ./scripts/install_deps.sh
    - name: Build
      id: build
      env:
        REACT_APP_SENTRY_DSN: https://37b1f01452b54bf4a0fe88656070998f@o871617.ingest.sentry.io/5824691
        REACT_APP_USE_FIREBASE_EMULATORS: '1'
        REACT_APP_FIREBASE_STAGING: '1'
        FUTURECODER_LANGUAGE: en
      run: ./scripts/build.sh
    - name: Test
      env:
        FUTURECODER_LANGUAGE: en
        FIREBASE_TOKEN: '1//03I37hFeN4kn3CgYIARAAGAMSNwF-L9IrUvqofZbhOkS8YMtQBhw_bu2TpWYC5MHvnaZDsWPP0KJMypXPyoxogkl8A6p2RxPJQwQ'
      run: ./scripts/ci_test.sh
    - name: Upload test artifacts
      uses: actions/upload-artifact@v4
      if: steps.build.outcome == 'success'
      with:
        path: '**/test_frontend_assets/'
    - name: Deploy preview
      uses: FirebaseExtended/action-hosting-deploy@v0
      if: steps.build.outcome == 'success' && github.ref != 'refs/heads/main'
      with:
        repoToken: '${{ secrets.GITHUB_TOKEN }}'
        firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT }}'
        projectId: futurecoder-staging
        channelId: ${{ github.ref }}
